body {
	background-color: #f5f5f5;
    margin: 0px;
}

form {
    text-align: center;
}

header a{
    padding-left: 8px;
	font-size: 60px;
	color: #473525;
	margin-top: -10px;
    text-decoration: none;
}

header a:hover {
    font-weight: 600;
}

h2 {
    text-align: left;
    color: #70523a;
    font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
}

input {
    width: 200px;
    height: 40px;
    margin: 4px;
    border-radius: 4px;
    color: #473525;
    font-size: 20px;
    padding-left: 8px;
}

label {
    color: #473525;
    font-size: 20px;
    font-family: helvetica, Arial, sans-serif;
}

nav {
	border-bottom: 2px solid #70523a;
	margin-top: -20px;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 0px;
	overflow: hidden;
	text-align: right;
}

nav li {
	display: inline-block;

}

nav li a {
	text-align: center;
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	color: #7F5E44;
	border: 2px solid #70523a;
	background-color: #f5ece9;
	padding: 4px;
	margin-right: 1px;
	border-radius: 4px;

}

nav li a:hover {
	background-color: #70523a;
	color: #f5ece9;

}

nav li a:active {
	background-color: #473525;
	color: #f5ece9;

}

p {
    text-align: center;
    color: #7F5E44;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, Arial, sans-serif;
}

th {
    font-size: 30px;
    text-align: center;
    padding-right: 24px;
    color: #473525;
}

td {
    font-size: 22px;
    padding: 24px;
    text-align: center;
    color: #7F5E44;
}

td img {
    width: 200px;
}

.about {
    padding: 14px;
}

.active {
	background-color: #70523a;
	color: #f5ece9;
	border-bottom-color: #70523a;
}

.centerText {
    text-align: center;
}

.date {
    margin-top: -14px;
    margin-bottom: 4px;
    padding-top: 0px;
    font-size: 14px;
}

.newsBlock {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #70523a;
    border-radius: 6px;
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;

    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
}

.spacer { 
    margin: 300px;
}

.socialMedia {
    margin: 0px;
    background-color: #473525;
    text-align: center;
}

.socialMedia li {
    display: inline;  
}

.socialMedia li img {  
     width: 32px;
     height: 32px;
}

.storeInfo {
    margin: 20px;
    border: 2px solid #70523a;
    border-radius: 10px;
    background-color: white;
}

#aboutDescription {
    text-align: left;
}

#button {
    margin: 4px;
    border-radius: 2px;
    color: #473525;
    font-size: 20px;
}

#footerInfo {
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: #473525;
    text-align: center;
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
}

#footerInfo p {
    color: #f5ece9;
    
}

#footerCopyright {
    padding: 4px;
    background-color: #665647;
    color: #f5ece9;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
}

#internalLink {
    color: #473525;
}

#internalLink:hover {
    background-color: #f5ece9;
    text-decoration: none;
}

#internalLink:active {
    border: 2px solid #473525;
    border-radius: 4px;
    text-decoration: none;
}

#landingTitle {
    font-size: 24px;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    color: #70523a;
}

#locationSection {
    background-color: #f5ece9;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#loginSection {
    padding: 20px;
    background-color: #E8E8E8;
}

#newsTitle {
    font-size: 20px;
    font-weight: 600;
}

#productText {
    padding-bottom: 200px;
}

#radio {
    width: 20px;
}

#reminder {
    margin-top: 40px;
    margin-bottom: 100px;
}

#shoeBag {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#smallNote {
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 12px;
}

#stores{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#storeTitle {
    font-size: 20px;
    font-weight: 600;
}
